@{
    ViewBag.Title = "Items";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Content/bootstrap.css"></script>
    <script src="~/Content/Site.css"></script>
    <script src="~/AngularPart/Module.js"></script>
    <script src="~/AngularPart/Service.js"></script>
    <script src="~/AngularPart/Controller.js"></script>
</head>

<body data-ng-app="APIModule" ng-controller="APIController">
    <h2 align="center">Items</h2>

    <div class="form-group">
           @*<form name="myform">
               <input class="form-control" placeholder="asda" name="myfield" ng-model="somefield" ng-minlength="1" required>
               <span ng-show="myform.myfield.$error.required">Please enter something!</span>
               <span ng-show="!myform.myfield.$error.required">Good boy!</span>

               <input class="form-control" placeholder="asda" name="myfield" ng-model="somefield" ng-minlength="1" required>
               <span ng-show="myform.myfield.$error.required">Please enter something!</span>
               <span ng-show="!myform.myfield.$error.required">Good boy!</span>
           </form>*@
        <table align="center">
            <tr>
                <td><h4>add new item</h4></td>
            </tr>
            <tr >
                <td>
                    <input class="form-control" id="name" placeholder="Enter name" data-ng-model="name" required/>
                </td>
                <td>
                    <input class="form-control" id="type" placeholder="Enter type" data-ng-model="type" required/>
                </td>
                <td><button class="btn btn-success" type="submit" ng-click="saveItem()">add item</button> </td>
            </tr>
        </table>


    </div>

    </br>
    <div id="tblItems">
        <table class="table table-bordered table-striped" align="center">
            <tr>
                <th>Item Name (Editable)</th>
                <th>Item Type (Editable)</th>
                <th></th>
            </tr>
            <tbody>
                <tr data-ng-repeat="item in items">
                    <td ng-blur="updName(item,$event)" ng-dblclick="makeEditable($event)">{{item.Name}}</td>
                    <td ng-blur="updType(item,$event)" ng-dblclick="makeEditable($event)">{{item.Type}}</td>
                    <td align="center"><button class="btn btn-danger" type="submit" ng-click="dltItem(item.Id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>